/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.14,
* Autoprefixer: v10.4.7
* Browsers: last 4 version
*/

a {
    color: #e1ceff;
  }
  a {
    color: #76a5af;
  }
  a {
    color: #2b2b2b;
  }
  * {
      -webkit-box-sizing: border-box;
              box-sizing: border-box;
  }
   body {
      background-color: #d1ebdc;
      font-family: 'Lato', sans-serif;
      font-weight: 400;
      font-size: 16px;
      line-height: 1.6;
   } 
   .page-header {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      width: 100%;
      padding: 20px;
      border-bottom: 1px green;
   }
   .page-header__item {
      -webkit-box-flex: 0;
          -ms-flex: 0 1 200px;
              flex: 0 1 200px;
   }
   .page-header__item:last-child {
      -webkit-box-flex: 1;
          -ms-flex-positive: 1;
              flex-grow: 1;
      text-align: right;
   }
   .navigation-list {
      list-style-type: none;
   }
   .navigation-list li {
      display: inline-block;
      margin: 15px;
   }
   .profile__text {
      -webkit-box-flex: 1;
          -ms-flex: 1 1 100px;
              flex: 1 1 100px;
   }
   .profile {
      max-width: 700px;
      margin: 0 auto;
   }
   .profile__portrait {
      float: left;
      width: 250px;
      height: 250px;
      margin: 40px;
      border-radius: 50% ;
   }
   .main-body {
      margin:auto;
      max-width: -webkit-fit-content;
      max-width: -moz-fit-content;
      max-width: fit-content;
   }
   .info-list {
      list-style-type: none;
   }
     h1 {
          font-size: 30px;
          font-weight: 700;
      }
      h2 {
          font-size: 24px;
          font-weight: 700;
      }
      h3{
          font-size: 18px;
          font-weight: 700;
      }
      a {
          color: #53249f; 
      }
      a:visited {
          color: #7d5eae;
      }
      a:hover, a:focus {
          text-decoration: none;
      }
      a:active {
          color:#489c79; 
      }
   .page__footer {
          clear: both;
          display: -webkit-box;
          display: -ms-flexbox;
          display: flex;
          -webkit-box-orient: vertical;
          -webkit-box-direction: normal;
              -ms-flex-direction: column;
                  flex-direction: column;
          text-align: center;
      }
  button {
      border: none;
      font-family: inherit;
      background-color: #e1ceff;
      color: rgb(4, 4, 4);
      text-decoration: none;
      padding: 10px;
      border-radius: 3px;
      border-bottom: 2.5px  rgba(0,0,0,1);
  }
  button:hover, button:focus {
      cursor: pointer;
      opacity: 0.7;
  }
  .button__secondary {
      background-color: #ddc669;
      color: #423535;
  }
      .navigation-list__item--active {
          text-decoration: none;
      }
  .grid__item {
      display: inline-block;
      width: 33%;
  }
  @-webkit-keyframes cloud-move {
      from {
        -webkit-transform: translate(0, 50px);
                transform: translate(0, 50px);
      }
      to {
        -webkit-transform: translate(200px, 50px);
                transform: translate(200px, 50px);
      }
    }
  @keyframes cloud-move {
      from {
        -webkit-transform: translate(0, 50px);
                transform: translate(0, 50px);
      }
      to {
        -webkit-transform: translate(200px, 50px);
                transform: translate(200px, 50px);
      }
    }
    .cloud-front {
      -webkit-animation-duration: 30s;
              animation-duration: 30s;
      -webkit-animation-name: cloud-move;
              animation-name: cloud-move;
      -webkit-animation-iteration-count: infinite;
              animation-iteration-count: infinite;
      -webkit-animation-direction: alternate;
              animation-direction: alternate;
      -webkit-animation-timing-function: linear;
              animation-timing-function: linear;
    }
    @-webkit-keyframes cloud-move-reverse {
      from {
        -webkit-transform: translate(446px, 48px);
                transform: translate(446px, 48px);
      }
      to {
        -webkit-transform: translate(100px, 48px);
                transform: translate(100px, 48px);
      }
    }
    @keyframes cloud-move-reverse {
      from {
        -webkit-transform: translate(446px, 48px);
                transform: translate(446px, 48px);
      }
      to {
        -webkit-transform: translate(100px, 48px);
                transform: translate(100px, 48px);
      }
    }
    .cloud-back {
      -webkit-animation: 34s cloud-move-reverse infinite alternate linear;
              animation: 34s cloud-move-reverse infinite alternate linear;
    }
  .sun {
      -webkit-animation-duration: 4s;
              animation-duration: 4s;
      -webkit-animation-name: color-change;
              animation-name: color-change;
      -webkit-animation-iteration-count: infinite;
              animation-iteration-count: infinite;
      -webkit-animation-direction: alternate;
              animation-direction: alternate;
      -webkit-animation-timing-function: linear;
              animation-timing-function: linear;
    }
  @-webkit-keyframes color-change {
      from {
        fill: #edc655;
      }
      to {
        fill: #f76414;
      }
    }
  @keyframes color-change {
      from {
        fill: #edc655;
      }
      to {
        fill: #f76414;
      }
    }
  @supports (display: grid) {
      .grid {
          display: -ms-grid;
          display: grid;
          -ms-grid-columns: 300fr 20px 300fr 20px 300fr;
          grid-template-columns: 300fr 300fr 300fr;
          -ms-grid-rows: 300fr 20px 300fr;
          grid-template-rows: 300fr 300fr;
          grid-gap: 20px;
          margin: 0;
      }
      .grid > *:nth-child(1) {
      -ms-grid-row: 1;
      grid-row: 1;
      -ms-grid-column: 1;
      grid-column: 1;
      }
      .grid > *:nth-child(2) {
      -ms-grid-row: 1;
      grid-row: 1;
      -ms-grid-column: 3;
      grid-column: 3;
      }
      .grid > *:nth-child(3) {
      -ms-grid-row: 1;
      grid-row: 1;
      -ms-grid-column: 5; 
      grid-column: 5;
      }
      .grid > *:nth-child(4) {
      -ms-grid-row: 3;
      grid-row: 3;
      -ms-grid-column: 1;
      grid-column: 1;
      }
      .grid > *:nth-child(5) {
      -ms-grid-row: 3;
      grid-row: 3;
      -ms-grid-column: 3;
      grid-column: 3;
      }
      .grid > *:nth-child(6) {
      -ms-grid-row: 3;
      grid-row: 3;
      -ms-grid-column: 5;
      grid-column: 5;
      }
      .grid__item {
          background-color: lightgray;
          width: auto;
          min-height: auto;
          margin: 0;
      }
      .grid__item:last-child {
          -ms-grid-column: 3;
          grid-column: 3 / 3;
          -ms-grid-row: 1;
          -ms-grid-row-span: 2;
          grid-row: 1 / 3;
      }
      @media all and (max-width: 500px) {
          .grid {
            -ms-grid-columns: 1fr;
            grid-template-columns: 1fr;
          }
        }
        @media all and (min-width: 500px) and (max-width: 750px){
          .grid {
            -ms-grid-columns: 1fr 20px 1fr;
            grid-template-columns: 1fr 1fr;
          }
        }
        @media all and (max-width: 750px) {
          .grid {
            grid-gap: 10px;
          }
          .grid__item:last-child {
            grid-column: auto / auto;
            grid-row: auto / auto;
          }
          h1 {
            font-size: 22px;
          }
        }
      }
        .button {
           border: none;
          display: inline-block;
         font-family: inherit;
          background-color: #4aad9e;
          color: undefined;
          text-decoration: none;
          padding: 10px;
          border-radius: 3px;
          border-bottom: 2px rgba(0,0,0,1);
          -webkit-transition-duration: 0.7s;
               -o-transition-duration: 0.7s;
                  transition-duration: 0.7s;
          -webkit-transition-property: opacity 0.2s;
          -o-transition-property: opacity 0.2s;
          transition-property: opacity 0.2s;
        }
        button {
           border: none;
          display: inline-block;
         font-family: inherit;
          background-color: #4aad9e;
          color: undefined;
          text-decoration: none;
          padding: 10px;
          border-radius: 3px;
          border-bottom: 2px rgba(0,0,0,1);
          -webkit-transition-duration: 0.7s;
               -o-transition-duration: 0.7s;
                  transition-duration: 0.7s;
          -webkit-transition-property: opacity 0.2s;
          -o-transition-property: opacity 0.2s;
          transition-property: opacity 0.2s;
        }
        
        button:hover,
        button:focus,
        .button:hover,
        .button:focus {
           cursor: pointer;
          opacity: 0.8;
        }